.flickbase__content {
   width: 100%;
   padding: 2rem;
}

.flickbase__content-header {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.flickbase__content-header__profile-area {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.flickbase__content-header__profile-area__notification {
   position: relative;
   z-index: 1;
   cursor: pointer;
}

.flickbase__content-header__profile-area__notification-bell__count {
   position: absolute;
   z-index: 2;
   top: -2px;
   right: 0;
   width: 9px;
   aspect-ratio: 1/1;
   background: var(--color-primary);
   border-radius: 50%;
}

.flickbase__content-header__profile-area__user-dropdown {
   display: flex;
   align-items: center;
   gap: .5rem;
}

.flickbase__content-header__profile-area__user {
   display: flex;
   align-items: center;
   gap: .85rem;
}

.flickbase__content-header__profile-area__user-dropdown img {
   width: 49px;
   aspect-ratio: 1/1;
   border-radius: 50%;
}

.flickbase__content-container {
   margin-top: 2.5rem;
   display: grid;
   align-items: center;
   gap: 1rem;
}

.flickbase__content-container__heading {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.flickbase__content-container__heading-controller {
   display: flex;
   align-items: center;
   gap: .75rem;
}

.flickbase__content-container-row {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 1rem;
   align-items: center;
}

@media screen and (max-width: 550px) {
   .flickbase__content-header__profile-area {
      display: none;
   }
   .flickbase__content-container-row {
      margin-top: 1rem;
      grid-template-columns: 1fr;
      place-items: center;
   }
}