* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style-type: none;
}

::-webkit-search-cancel-button {
   display: none;
}

::-webkit-scrollbar {
   width: 4px;
   background: var(--grey-text)
}

::-webkit-scrollbar-thumb {
   width: 4px;
   background: var(--color-primary);
   height: 1rem;
   border-radius: 1rem;
}

body {
   color: var(--color-white);
   background: var(--color-bg);

   font-family: var(--font-family);
   font-size: 15px;

   scroll-behavior: smooth;
   transition: var(--transition-timing);
}

input {
   width: 100%;
   background: transparent;
   font-family: var(--font-family);
   font-size: 15px;
   color: #fff;

   border: 0;
   outline: none;
}

input::placeholder {
   color: grey;
   background: transparent;
   height: inherit;
}


.grey__text {
   color: var(--grey-text);
   font-weight: 700;
}

.flickbase {
   height: 100vh;
}