/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: #ff3c00;
  --color-white: #fff;
  --color-bg: #242120;
  --color-grey: #2c2c2c;

  --grey-text: #5c5c5c;

  --font-family: 'Nunito', sans-serif;

  --transition-timing: all 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}